<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img class="logo" src="assets/images/logo.svg" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/produtos">Produtos</a>
        </li>




        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" href="/login">Entrar</a>
        </li>

        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/perfil" (click)="goToProfile()">Meu Perfil</a></li>

            <li *ngIf="isAdmin"><a class="dropdown-item" routerLink="/admin">Painel de Administração</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Sair</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>

