.navbar{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
  /* width: 10vh; */
  max-height: 50px;
}

.sair{
  cursor: pointer;
}

.dropdown-item:active{
  background-color: #797979;
}

.dropdown-menu {
  max-width: 200px; /* ou outro valor que você preferir */
}

.bg-custom{
  background-color: #BC8B3F;
}
.a-custom{
  color: #fff !important;
  transition: all ease 0.3s;

}

.a-custom:hover{
  color: #000 !important;
}

.custom-i{
  font-size: 150%;
}

.custom-i:hover{
  cursor: pointer;
}

span{
  color: #fff;
}
.show-search {
  transition: all 0.5s ease-in-out;
}
.btn-outline-secondary{
  background-color: #fff;
  /* border: none; */
  border-radius: 0 5px 5px 0;
  color: rgba(188, 139, 63, 1);
}

.texto-header{
  font-family: 'Jacques Francois', serif;

}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
