<nav class="navbar navbar-expand-lg navbar-light bg-custom fixed-top">
  <div class="container-fluid col">


    <a class="navbar-brand" href="/home">
      <img class="logo" src="assets/images/logo.svg" alt="Use Riquirri" />
    </a>

    <div class="navbar-center"><span class="texto-header fs-5">Elegância, Beleza e Auto Cuidado</span></div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav navbar-start">
        <li class="nav-item">
          <a class="nav-link active a-custom" aria-current="page" routerLink="/produtos">Produtos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active a-custom" aria-current="page" routerLink="/quem-somos">Quem somos</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-end ms-auto">

        <li class="nav-item">
          <a class="nav-link a-custom">
            <i class="fa-solid fa-search custom-i" (click)="showSearch = !showSearch"></i>
          </a>
        </li>

        <li class="nav-item" [ngClass]="{'show-search': showSearch}" *ngIf="showSearch">
          <form class="d-flex">

            <div class="input-group">

              <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search">

              <button class="btn btn-outline-secondary border" type="submit">
                <i class="fa-regular fa-paper-plane"></i>
              </button>

            </div>



          </form>
        </li>


        <li class="nav-item">
          <a class="nav-link active a-custom" aria-current="page" routerLink="/carrinho">
            <i class="fa-solid fa-bag-shopping custom-i"></i>
          </a>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link a-custom" href="/login">Entrar</a>
        </li>

        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a class="nav-link dropdown-toggle a-custom" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/perfil" (click)="goToProfile()">Meu Perfil</a></li>

            <li *ngIf="isAdmin"><a class="dropdown-item" routerLink="/admin">Painel de Administração</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Sair</a></li>
          </ul>
        </li>


      </ul>
    </div>

  </div>
</nav>

