<footer class="footer bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex flex-column align-items-center my-3">
          <p>Rua Sergipe, 528 - Centro</p>
          <p>Londrina - Paraná</p>
        </div>
      </div>
      <div class="col-md-4 icons-footer">
        <div class="d-flex flex-column align-items-center my-3">
          <ul class="list-unstyled d-flex">
            <li class="justify-content-between">
              <a
                href="https://www.instagram.com/useriquirri"
                target="_blank"
                class="d-inline-block mx-3"
                ><i class="fab fa-instagram fa-3x"></i
              ></a>
              <a
                href="https://www.facebook.com/useriquirri"
                target="_blank"
                class="d-inline-block mx-3"
                ><i class="fab fa-facebook-square fa-3x"></i
              ></a>
              <a
                href="https://www.tiktok.com/@useriquirri?lang=pt_BR"
                target="_blank"
                class="d-inline-block mx-3"
                ><i class="fab fa-tiktok fa-3x"></i
              ></a>
              <a
                href="https://wa.me/+554391825757"
                target="_blank"
                class="d-inline-block mx-3"
                ><i class="fab fa-whatsapp fa-3x"></i
              ></a>
            </li>
          </ul>
          <p>E-mail: contato@sualoja.com.br</p>
        </div>
      </div>

      <div class="col-md-4 icons-footer">
        <div class="d-flex flex-column align-items-center my-3">
          <ul class="list-unstyled d-flex">
            <li class="justify-content-between">
              <a routerLink="#">
                <i class="fab fa-cc-visa fa-3x mx-3"></i>
              </a>
              <a routerLink="#">
                <i class="fab fa-cc-mastercard fa-3x mx-3"></i>
              </a>
              <a routerLink="#">
                <i class="fab fa-cc-paypal fa-3x mx-3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <hr />
    <div class="text-center">
      <p>Todos os direitos reservados &copy; 2023 - Riquirri</p>
    </div>
  </div>
</footer>
