<div class="col-md-3 bg-dark w-100">
  <ul class="nav flex-column">

    <li class="nav-item border-bottom ">
      <a class="nav-link" data-bs-toggle="collapse" href="#produtos" role="button" aria-expanded="false" aria-controls="produtos">Produtos</a>
      <div class="collapse bg-light" id="produtos">
        <ul class="nav flex-column ml-3">

          <li class="nav-item border-top">
            <a class="nav-link" routerLink="/admin-produto">Cadastrar Produto</a>
          </li>

          <li class="nav-item border-top">
            <a class="nav-link" routerLink="/lista-produto-admin">Lista de Produtos</a>
          </li>

          <li class="nav-item border-top">
            <a class="nav-link" routerLink="/categoria">Cadastrar Categoria</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item border-bottom ">
      <a class="nav-link" data-bs-toggle="collapse" href="#usuarios" role="button" aria-expanded="false" aria-controls="usuarios">Usuários</a>
      <div class="collapse bg-light" id="usuarios">
        <ul class="nav flex-column ml-3">

          <li class="nav-item border-top">
            <a class="nav-link" routerLink="/cadastrar/usuario/admin">Cadastrar Usuário</a>
          </li>

          <li class="nav-item border-top">
            <a class="nav-link" routerLink="/listar-usuarios">Listar Usuários</a>
          </li>

        </ul>
      </div>
    </li>

  </ul>
</div>
