<div class="container">
  <h1 class="text-center mt-2 text-custom">Lista de Produtos</h1>

  <div class="row my-3">
    <div class="col">

      <div class="input-group">

        <button class="btn btn-outline-secondary filter" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa-solid fa-filter"></i>
        </button>


        <input type="text" class="form-control form-control-sm" placeholder="Pesquisar produtos pelo nome" [(ngModel)]="nomeProduto" (keyup.enter)="buscarProdutos()">
        <div class="input-group-append">

          <button class="btn btn-outline-secondary" type="button" (click)="buscarProdutos()">
            <i class="fas fa-search"></i>
          </button>

        </div>

        <!-- <div class="collapse row border mt-4 container rounded shadow bg-dark center pt-4 pb-4" id="collapseExample" >
          <div class="col-md-3 text-center border-end" *ngFor="let categoria of categorias">
              <a  class="nav-link">{{categoria.nome}}</a>
          </div>
        </div> -->

        <div class="collapse row border mt-4 container rounded shadow bg-custom center pt-4 pb-4" id="collapseExample">
          <div class="col-md-3 text-start border-end">
            <a class="nav-link " (click)="filtrarTodos()">Todos</a>
          </div>
          <div class="col-md-3 text-start border-end" *ngFor="let categoria of categorias">

            <a class="nav-link" (click)="filtrarProdutos(categoria.id_categorias)">{{categoria.nome}}</a>
          </div>
        </div>


      </div>



    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-4 mt-4 produto-custom" *ngFor="let produto of produtos">
      <div class="card bg-light text-custom h-100">
        <img [src]="produto.imagens && produto.imagens[0]" class="card-img-top img-produto" alt="Imagem do Produto">

        <div class="card-body text-center">
          <h5 class="card-title text-start">{{produto.nome}}</h5>
          <p class="card-text text-start">{{produto.descricao_curta}}</p>

          <ng-container *ngIf="produto.desconto > 0; else precoNormal">
            <p class="card-text text-start">
              Preço: <del>{{ produto.valor | currency:'BRL' }}</del> {{ produto.valor_atual | currency:'BRL' }}
            </p>
          </ng-container>

          <ng-template #precoNormal>
            <p class="card-text text-start">Preço: {{ produto.valor_atual | currency:'BRL' }}</p>
          </ng-template>

          <button class="btn btn-primary" (click)="getProdutoPorId(produto.id)">COMPRAR</button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-secondary" [disabled]="currentPage === 1 || isLoading" (click)="goToPreviousPage()">Anterior</button>
    <ng-container *ngFor="let page of generatePagesArray()">
      <button class="btn btn-secondary m-2" [disabled]="currentPage === page || isLoading" (click)="goToPage(page)">{{ page }}</button>
    </ng-container>
    <button class="btn btn-secondary" [disabled]="currentPage === totalPages || isLoading" (click)="goToNextPage()">Próxima</button>


  </div>
