thead {
  background-color: rgba(188, 139, 63, 1);
}
.btn-outline-secondary{
  background-color: rgba(188, 139, 63, 1);
  /* border: none; */
  border-radius: 0 5px 5px 0;
  color: #000;
}
.btn-outline-secondary:hover{
  color: #fff;
}
input:focus{
  border-color: #BC8B3F !important;
  box-shadow: 0 0 0 0.2rem rgba(188, 139, 63, 0.25) !important;
  outline: 0;
}
