<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-0">
      <app-menu-lateral></app-menu-lateral>
    </div>

    <div class="col-md-9 text-center mt-4">
      <h2>Painel Administrativo</h2>
      <p>Aqui você pode administrar todo o conteudo do seu site:</p>
      <p>-Cadastrar, buscar, atualizar, remover produtos conforme necessidade.</p>
      <p>-Cadastrar, buscar, atualizar, remover usuarios/admin conforme necessidade.</p>
      <p>-Atualizar endereço dos clientes caso o mesmo não consiga fazer sozinho.</p>
      <p>-Inserir novas imagens e remover outras.</p>
      <br>
      <p><strong>Basta selecionar a opção desejada no menu.</strong></p>
    </div>
  </div>
</div>
