<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-0">
      <app-menu-lateral></app-menu-lateral>
    </div>

    <div class="col-md-7 pl-md-3 mt-4 mx-auto">

      <div class="card shadow mt-4 mb-4">

        <div class="card-header text-center">
          <h2 class="text-center">Cadastro de Categoria</h2>
        </div>

        <div class="card-body">
          <form class="mx-auto" style="max-width: 600px;" (ngSubmit)="onSubmit(nome)">
            <div class="form-group">
              <label for="nomeCategoria">Nome da Categoria</label>
              <input type="text" class="form-control" id="nomeCategoria"[(ngModel)]="nome" name="nome">
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-4">Cadastrar</button>
            <div
            *ngIf="mensagem"
            class="alert alert-dismissible fade show"
            [ngClass]="{
              'alert-success': tipoMensagem === 'success',
              'alert-danger': tipoMensagem === 'danger'
            }"
            role="alert"
          >
            <span>{{ mensagem }}</span>
          </div>

          </form>
        </div>

      </div>




      <hr>
      <div class="col-md-7 pl-md-3 mt-4 mx-auto">
        <div class="table-responsive mt-4">

          <h2 class="text-center">Lista de Categorias</h2>

          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="col-4 text-center">Nome</th>
                <th class="col-1 text-center">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let categoria of categorias">

                <td class="align-middle text-center border-bottom">{{categoria.nome}}</td>

                <td class="align-middle text-center border-bottom mx-auto">
                  <button class="btn btn-danger m-2" (click)="deletarCategoria(categoria.id_categorias ? categoria.id_categorias : 0)">
                    <i class="fas fa-trash"></i>
                  </button>
                  <button class="btn btn-primary mr-2" (click)="navegarParaCategoriaSelecionado(categoria.id_categorias ? categoria.id_categorias : 0)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>


        </div>
      </div>




    </div>
  </div>
</div>
